<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">
        <img src="./assets/images/favicon.png" style="max-width:30px;" />
      </a>
      <a class="hamburger" (click)="toggleNav()"><i class="fa fa-bars"></i></a>
    </div>

    <div class="navbar-collapse" *ngIf="navOpen">
      <ul class="nav navbar-nav">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button">Websites<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let site of sites"><a routerLink="websites/{{site.id}}">{{site.name}}</a></li>
          </ul>
        </li>
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button">Projects<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let project of projects"><a routerLink="projects/{{project.id}}">{{project.name}}</a></li>
          </ul>
        </li>
        <li>
          <a href="https://www.github.com/ndeely" target="_blank"><i class="fa fa-github"></i> GitHub</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/nialldeely/" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
