.fa-bars {
  color:#fff;
  float:right;
  font-size:large;
  margin:15px;
  display:none;
}

.navbar-brand {
  padding:10px 10px;
}

nav.navbar {
  border:none;
  border-radius: 0px;
}

nav.navbar, ul.dropdown-menu {
  background-color:#001529;
}

nav.navbar a, ul.dropdown-menu p {
  color:#fff !important;
}

ul.navbar-nav li a:hover, ul.navbar-nav li a:active, ul.navbar-nav li a:focus, li.dropdown.open a.dropdown-toggle {
  background-color: #1890FF;
}

ul.dropdown-menu {
  margin-top: -1px;
}

ul.dropdown-menu p {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .fa-bars {
    display:block;
  }
}
