footer {
  margin-top:20px;
  background-color:#001529;
}

h5 {
  font-weight: bold;
  color: #fff;
}

h5, ul {
  text-align: left;
}

ul {
  list-style:none;
}

ul.list-styled li:before {
  content: "\2022";
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul.list-styled li a {
  color: #fff;
}

button {
  margin: 10px 0px;
}
