$menuBackgroundColor: #001529;
$linkHoverColor: yellow;

.buttons {
  display: flex;
  justify-content: space-between;
  background-color: $menuBackgroundColor;

  button {
    height: 100%;
    padding: 10px 15px;
    color: white;
    background-color: transparent;
    border: none;
    transition: 0.4s;
    &:hover, &:active {
      color: $linkHoverColor;
      background-color: transparent;
    }
  }
}
