.buttons {
  display: flex;
  justify-content: space-between;
  background-color:#001529;

  button {
    height: 100%;
    padding: 10px 15px;
    color: white;
    background-color: transparent;
    border: none;
    transition: 0.4s;
    &:hover, &:active {
      background-color: #1890FF;
    }
  }
}
