.fa-bars {
  color: white;
  float: right;
  font-size: large;
  margin: 15px;
  display: none;
}

nav.navbar {
  background-color:#001529;
  border:none;
  border-radius: 0px;
  .container-fluid {
    display: flex;
  }
  a {
    &.navbar-brand {
      padding:10px 10px;
      display: flex;
      img {
        max-width: 30px;
      }
      span {
        padding: 4px;
      }
    }
    color: white;
    &:hover,
    &:active,
    &:focus,
    &.active {
      background-color: #1890ff;
      &.navbar-brand {
        background-color: transparent;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .fa-bars {
    display:block;
  }
}
