<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">
        <img src="./assets/images/favicon.png" />
        <span> Niall Deely</span>
      </a>
      <a class="hamburger" (click)="toggleNav()"><i class="fa fa-bars"></i></a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/websites">Websites</a>
        </li>
        <li>
          <a routerLink="/projects">Projects</a>
        </li>
        <li>
          <a href="https://www.github.com/ndeely" target="_blank"><i class="fa fa-github"></i> GitHub</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/nialldeely/" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
