$menuBackgroundColor: #001529;
$linkHoverColor: yellow;

.fa-bars {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  float: right;
  font-size: large;
  margin: 15px;
  display: none;
}

nav.navbar {
  transition: 0.3s ease-in-out;
  background-color: $menuBackgroundColor;
  border:none;
  border-radius: 0px;
  margin: 0px;
  .container-fluid {
    display: flex;
  }
  a {
    color: white;
    &.navbar-brand {
      padding:10px 10px;
      display: flex;
      img {
        max-width: 30px;
      }
      span {
        padding: 6px;
      }
    }
    &:hover,
    &:active,
    &:focus,
    &.active {
      transition: 0.3s ease-in-out;
      color: $linkHoverColor;
      background-color: transparent;
    }
  }
  .navbar-collapse {
    position: absolute;
    right: 0px;
    margin: 0px;
  }
}

@media screen and (max-width: 768px) {
  .fa-bars {
    display:block;
  }

  .navbar-collapse {
    top:50px;
    z-index: 1;
    background: #001529;
  }
}
