<div class="row">
  <h2>{{category}} Projects</h2>
  <div class="col-xs-12 col-md-4" *ngFor="let project of projects">
    <div class="project-brief">
      <div>
        <a routerLink="/projects/{{project.id}}">
          <h4>{{project.name}}</h4>
          <img *ngIf="project.imagePaths.length > 0" src="{{project.imagePaths[0]}}" alt="{{project.name}}" />
        </a>
      </div>
      <p>
        <a *ngFor="let tag of project.tags" routerLink="/category/{{tag}}">
          <span class="badge">{{tag}}</span>
        </a>&nbsp;
      </p>
    </div>
  </div>
</div>
