<div class="content">
  <h2>Projects</h2>
  <div class="projects">
    <div class="row">

      <div id="projects" class="menu">
        <div
          class="menu-button"
          *ngFor="let project of projects"
        >
          <div
            class="menu-content"
            (click)="toggleProject(project.id)"
            onClick="showBlocks()"
          >
            <div class="left-side">
              <p class="title">{{ project.name }}</p>
              <div
                *ngFor="let img of project.imagePaths"
                class="logo"
                style="background-image: url({{img}});"
              >
              </div>
            </div>
            <div class="right-side">
              <div class="desc">
                <p [innerHTML]="project.desc"></p>
                <div *ngIf="isLoading" class="centered clear">
                  <app-loading-spinner></app-loading-spinner>
                </div>
              </div>
            </div>
          </div>
          <div class="button-container" *ngIf="!isLoading">
            <button class="btn btn-primary" (click)="onClick(project.urlPath)"><i class="fa fa-github"></i> View GitHub Repository</button>
          </div>
          <span class="tags">Tags: </span>
            <span *ngFor="let tag of project.tags">
            <a routerLink="/category/{{tag}}">
            <span class="badge">{{tag}}</span></a>
        </span>
        </div>
      </div>

    </div><!-- row -->
  </div>
</div>
