<div class="container col-md-12 col-xs-12">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{project.name}}</h1>
    </div>
  </div>
  <div class="row" style="margin-bottom:10px;">
    <div class="col-xs-12">
      Tags:
      <span *ngFor="let tag of project.tags">
        <a routerLink="/category/{{tag}}">
        <span class="badge">{{tag}}</span></a>&nbsp;
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div *ngIf="project.imagePaths.length > 1" class="slideshow-container">
        <div *ngFor="let imgPath of project.imagePaths" class="mySlides">
          <img src="{{ imgPath }}" alt="{{ project.name }}">
        </div>
      </div>
      <div *ngIf="project.imagePaths.length == 1">
        <img *ngFor="let imgPath of project.imagePaths" src="{{ imgPath }}" alt="{{ project.name }}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p [innerHTML]="project.desc"></p>
    </div>
  </div>
  <div class="row">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!isLoading" class="col-xs-12">
      <button class="btn btn-primary" (click)="onClick(project.urlPath)"><i class="fa fa-github"></i> View GitHub Repository</button>
    </div>
  </div>
</div>
