<div class="container col-xs-10 col-xs-offset-1">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{project.name}}</h1>
    </div>
  </div>
  <div class="row" style="margin-bottom:10px;">
    <div class="col-xs-12">
      Tags:
      <span *ngFor="let tag of project.tags">
        <a routerLink="/category/{{tag}}">
        <span class="badge">{{tag}}</span></a>&nbsp;
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-4" *ngFor="let imgPath of project.imagePaths">
        <img
          src="{{imgPath}}"
          alt="{{project.name}}"
          class="img-responsive">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p [innerHTML]="project.desc"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onClick(project.urlPath)"><i class="fa fa-github"></i> View Project</button>
    </div>
  </div>
</div>
