$primary: #001529;
$lightBlue: #1890ff;
$fresh: #4abdac;
$sunshine: #f7b733;

.menu {
  width: 100%;
  text-align: center;
  overflow: hidden;
  .menu-button {
    width: 100vw;
    height: 210px;
    overflow: hidden;
    border-top: 5px solid $fresh;
    border-bottom: 5px solid $fresh;
    transition: 1s ease-in-out;
    position: relative;
    left:4000px;
    margin: 10px 0px;
    .menu-content {
      display: flex;
      cursor: pointer;
      clear: both;
      .left-side {
        width: 15%;
        position: relative;
        .logo {
          margin-top: 45px;
          img {
            border: none;
            width: 100%;
            max-width: 150px;
          }
        }
      }
      .right-side {
        width: 85%;
        margin-top: 35px;
        .image {
          display: none;
          img {
            width: 90%;
            margin: 0 5%;
          }
        }
      }
    }
    &.show {
      left: 0px;
    }
    &:hover, &:active, &.active {
      transition: 1s ease-in-out;
      border-top: 5px solid $sunshine;
      border-bottom: 5px solid $sunshine;
      background-color: transparent;
      p.title {
        background-color: $sunshine;
        color: white;
      }
    }
    &:active, &.active {
      transition: 1s ease-in-out;
      height: auto;
      .menu-content .right-side .image {
        display: block;
      }
    }
    p.title {
      transition: 1s ease-in-out;
      font-size: large;
      background-color: $fresh;
      padding: 10px 20px;
      color: white;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      min-width: 221px;
    }
    button {
      margin: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
    margin: 10px 0;
    display: block;
    .menu-content {
      .left-side {
        width: 0%;
        .logo {
          display: none;
        }
      }
      .right-side {
        width: 96%;
        margin: 0 2%;
      }
      .menu-button p.title {
        font-size: x-small;
      }
    }
  }
}


