.menu {
  width: 100%;
  text-align: center;
  overflow: hidden;
  .menu-button {
    cursor: pointer;
    width: 100vw;
    height: 200px;
    overflow: hidden;
    border-bottom: 5px solid cyan;
    position: relative;
    left:4000px;
    margin: 10px 0px;
    &.show {
      transition: left 0.8s ease;
      left: 0px;
    }
    &:hover, &:active, &.active {
      border-bottom: 5px solid #1890ff;
      color: brown;
      background-color: transparent;
      transition: 1s ease;
      p {
        transition: background-color 1s ease;
        background-color: lightgray;
      }
    }
    &:active, &.active {
      height: auto;
    }
    p {
      position: absolute;
      bottom: -17px;
      right: 0%;
      font-size: large;
      background-color: white;
      padding: 10px 20px;
      box-shadow: 0 2px 2px darkgray;
    }
  }
}
