* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  text-align: center;
  margin: auto;
}

.slideshow-container img {
  max-height: 100%;
}

.mySlides, .mySlides2 {
  display:none;
  opacity: 0;
}

.mySlides.active, .mySlides2.active {
  display: block;
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  0% { opacity: 0 }
  25% { opacity: 0.75 }
  50%  { opacity:1 }
  75% { opacity: 0.75 }
  100% { opacity: 0 }

}

@media screen and (max-width: 768px) {
  .slideshow-container {
    max-width: 100%;
  }

  .slideshow-container img {
    max-width: 90%;
    margin: auto;
  }
}
