h1, h2, h3, h4, h5 {
  text-align:center;
}

h1 {
  background-color:#001529;
  color: #fff;
}

h4 {
  text-decoration: underline;
  color: #005bea;
}

a {
  cursor: pointer;
}

#body {
  min-height:65vh;
}

#body .container {
  background-color:#f1f1f1;
  Font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#body .container .row div.site {
  min-height:300px;
}

#body .container .row p {
  font-size:16px;
  color:#000;
  text-align: center;
}

#body .container .row a {
  text-decoration:none;
  cursor:pointer;
}

#body .container .row img {
  display: block;
  max-width:90%;
  margin:25px auto;
  box-shadow: 3px 3px #ccc;
  padding:0px;
}

#body .container .row button {
  margin:20px auto;
  display:block;
}

ol {
  text-align: left;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


