@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
  font-family: "Lato";
  src: local("Lato"), url(./assets/fonts/Lato-Regular.eot);
  src: local("Lato"), url(./assets/fonts/Lato-Regular.eot?#iefix) format('embedded-opentype'),
  local("Lato"), url(./assets/fonts/Lato-Regular.woff) format('woff'),
  local("Lato"), url(./assets/fonts/Lato-Regular.ttf)  format('truetype'),
  local("Lato"), url(./assets/fonts/Lato-Regular.svg#svgFontName) format('svg');
}

body {
  font-family: Lato, sans-serif;
}

h1, h2, h3, h4, h5 {
  text-align:center;
  font-family: "Lato",Arial,sans-serif;
}

h4 {
  text-decoration: underline;
  color: #005bea;
}

a {
  cursor: pointer;
}

ol {
  text-align: left;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  p {
    display: inline;
  }
  &:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
}

.centered {
  text-align: center;
}

.clear {
  clear: both;
}

.container, .col-md-12 {
  width: 100%;
  padding: 0px;

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
  }
}

.row {
  margin: 0px;
}

.project-brief {
  background-color: aliceblue;
  border-top:5px solid #1890FF;
  text-align: center;
  margin: 10px;
  padding: 5px;

  h4, p {
    padding: 5px 50px;
  }

  h4, h5 {
    text-decoration: none;
  }

  img {
    max-height: 300px;
    width: auto;
    max-width: 90%;
    margin: auto;
  }

  p {
    color: black;
  }
}

.badge {
  padding: 5px 30px;
  margin: 5px;
  border: 1px solid #777;
}

a:hover, a:active {
  text-decoration: none;
  .badge {
    background-color: #fff;
    color: #777;
  }
}

.container {
  min-height: 100vh;
  h1, h2, h3 {
    padding: 10px;
  }
}

.button-container {
  display: flex;
  justify-content: space-around;
}

p.info {
  border-radius: 12px;
  padding: 10px;
  margin: 0 25px;
  text-align: center;
  background-color: khaki;
  color: maroon;
  box-shadow: 2px 2px 5px #000000b3;
}

.h300 {
  height: 300px;
}

.siteImage, .projectImage {
  text-align: center;
  img {
    max-width: 95%;
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
    display: inline;
    margin: 0px 5px 5px 0px;
  }
}

.desc {
  p {
    padding: 5px 10px;
  }
  .btn, a.btn {
    margin: 10px auto;
  }
}

.slideshow-container {
  margin: auto;
}

.btn-primary {
  padding: 10px 20px;
  background-color:#337ab7;
  border-color:#2e6da4;
  transition: 0.4s ease;
  &:hover, &:active {
    background-color:#286090;
    border-color:#204d74;
  }
}
