@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
  font-family: "Lato";
  src: local("Lato"), url(./assets/fonts/Lato-Regular.eot);
  src: local("Lato"), url(./assets/fonts/Lato-Regular.eot?#iefix) format('embedded-opentype'),
  local("Lato"), url(./assets/fonts/Lato-Regular.woff) format('woff'),
  local("Lato"), url(./assets/fonts/Lato-Regular.ttf)  format('truetype'),
  local("Lato"), url(./assets/fonts/Lato-Regular.svg#svgFontName) format('svg');
}

body {
  font-family: Lato, sans-serif;
}

h1, h2, h3, h4, h5 {
  text-align:center;
  font-family: "Segoe UI",Arial,sans-serif;
}

h1, h2, h3 {

}

h4 {
  text-decoration: underline;
  color: #005bea;
}

a {
  cursor: pointer;
}

ol {
  text-align: left;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.container, .col-md-12 {
  width: 100%;
  padding: 0px;
}

.row {
  margin: 0px;
}

.project-brief {
  background-color: aliceblue;
  border-top:5px solid #1890FF;
  text-align: center;
  margin: 10px;
  padding: 5px;

  * {
    padding: 5px 50px;
  }

  h4, h5 {
    text-decoration: none;
  }

  img {
    max-height: 300px;
    width: auto;
    max-width: 90%;

  }

  p {
    color: black;
  }
}

@media screen and (max-width: 768px) {
  .project-brief img {
    margin: 0px 5%;
  }
}


