h1, h3 {
  text-align:center;
}

a {
  cursor: pointer;
}

#body .container {
  background-color:#f1f1f1;
  Font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#body .container .row div.site {
  height:300px;
}

#body .container .row p {
  font-size:20px;
  color:#000;
  text-align: center;
}

#body .container .row a {
  text-decoration:none;
  cursor:pointer;
}

#body .container .row img {
  max-width:90%;
  margin:25px auto;
  box-shadow: 3px 3px #ccc;
}

#body .container .row button {
  margin:20px auto;
  display:block;
}

