* {
  margin:0px;
}

.container {
  margin: 10px 0px;
  border: 2px solid #001529;
  border-radius: 12px;
  background-color: #001529;
  h2 {
    padding: 10px;
  }
}

.introText {
  width: 100%;
  padding: 20px;
  p {
    padding:10px 40px;
  }
}

.sites, .projects {
  background-color:#001529;
}

.menu {
  padding:5px;
  .btn-group-vertical {
    width: 100%;
    button {
      background-color:#001529;
      &:hover, &.active {
        background-color: #1890FF;
      }
    }
  }
}

.siteImage img {
  max-height: 300px;
  display: block;
  margin:auto;
}

.projectImage img {
  max-height: 250px;
  display: inline;
}

.siteImage img, .projectImage img {
  max-width: 95%;
}

.siteImage img.img-thumbnail, .projectImage img {
  margin: 0px 5px 5px 0px;
  max-width:48%;
}

.desc {
  p {
    color: #fff;
    padding: 5px 10px;
    blockquote {
      background-color: transparent;
    }
  }
  .btn, a.btn {
    display: block;
    margin: 10px auto;
  }
}
