* {
  margin:0px;
}

hr {
  margin:10px 0px;
  clear: both;
}

.content {
  width: 96%;
  margin: 0 2%;
  h1, h2, h3 {
    padding: 10px;
  }
}

.intro p {
  width: 100%;
  padding: 20px;
  border-radius: 0px;
  background-color: #eee;
  font-size: 20px;
  padding:10px 40px;
  margin: 10px 0px;
}

.menu {
  width: 90%;
  margin: 10px 5%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  button {
    position: relative;
    background-color: cadetblue;
    color: #fff;
    font-size: large;
    padding: 8px;
    margin: 5px;
    min-width: 15%;
    border: 1px solid #fff;
    border-bottom: 5px solid cyan;
    border-radius: 25px;
    overflow: hidden;
    &:hover, &:active, &.active {
      border-bottom: 5px solid #1890ff;
      color: #005bea;
      background-color: transparent;
      transition: 1s ease;
      span {
        height: 50px;
        width: 20rem;
      }
    }
    span {
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #f0f8ff;
      z-index: -1;
      border-radius: 25px;

      height: 0px;
      width: 0px;
      transition: 1s ease;
    }
  }
}

.siteImage img {
  max-height: 300px;
  display: block;
  margin: auto;
}

.projectImage img {
  max-height: 250px;
}

.siteImage, .projectImage {
  text-align: center;
  img {
    max-width: 95%;
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
    display: inline;
    margin: 0px 5px 5px 0px;
  }
}

.siteImage img.img-thumbnail {
  max-width:48%;
}

p.projectTitle {
  font-weight: bold;
  padding: 5px;
}

span.tags {
  color: #FFF;
}

button {
  clear: both;
}

.desc {
  p {
    padding: 5px 10px;
    blockquote {
      background-color: transparent;
    }
  }
  .btn, a.btn {
    display: block;
    margin: 10px auto;
  }
}

.slideshow-container {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
    margin: 10px 0;
    display: block;
    button {
      min-width:90%;
      margin: 5px 5%;
      display: block;
      &:hover, &:active, &.active {
        span {
          width: 100%;
        }
      }
    }
  }
  .siteImage img.img-thumbnail {
    max-width: 100%;
  }
}
