<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h1>Portfolio</h1>
      <p>Welcome to my website!</p>
      <p>This website showcases some example websites I am working on using various frameworks, and some projects
        that I have completed in a range of programming languages.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class=" site col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1" *ngFor="let site of sites">
      <a routerLink="websites/{{site.id}}">
        <h3>{{site.name}}</h3>
        <img src="{{site.imagePath}}" alt="{{site.name}}" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class=" site col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1" *ngFor="let project of projects">
      <p>Placeholder</p>
    </div>
  </div>
</div>
