<div class="container">
  <h1>Portfolio</h1>
  <div class="introText jumbotron col-xs-10 col-xs-offset-1">
    <p>This website showcases some example websites I am working on using various frameworks, and some projects
      that I have completed in a range of programming languages.</p>
  </div>
</div>
<div class="container">
  <h2>Websites</h2>
  <div class="sites">
    <div class="row">
      <div class="menu col-xs-12 col-md-4">
        <div class="btn-group-vertical btn-group-lg">
            <button *ngFor="let site of sites" class="btn btn-info" (click)="selectSite(site.id)">
              {{ site.name }}
            </button>
        </div>
      </div>
      <div class="siteImage col-xs-12 col-md-8">
        <div *ngIf="!selectedSite">
          <span *ngFor="let site of sites">
            <a (click)="selectSite(site.id)">
              <img
                src="{{ site.imagePath }}"
                alt="{{ site.name }}"
                style="display: inline; margin: 0px 5px 5px 0px;"
                class="img-thumbnail"
              />
            </a>
          </span>
        </div>
        <img *ngIf="selectedSite" src="{{ selectedSite.imagePath }}" alt="{{ selectedSite.name }}" />
      </div>
    </div>
    <div *ngIf="selectedSite" class="row">
      <div class="desc col-xs-12 col-md-12">
        <p [innerHTML]="selectedSite.desc"></p>
        <div *ngIf="isLoading" style="text-align: center;">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <div *ngIf="!isLoading">
        <button class="btn btn-primary" (click)="onClick(selectedSite.urlPaths[0])">View Website</button>
        <button *ngIf="selectedSite.urlPaths.length > 1" class="btn btn-primary" (click)="onClick(selectedSite.urlPaths[1])"><i class="fa fa-github"></i> View GitHub Repository</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2>Projects</h2>
  <div class="projects">
    <div class="row">
      <div class="menu col-xs-12 col-md-4">
        <div class="btn-group-vertical btn-group-lg">
          <button *ngFor="let project of projects" class="btn btn-info" (click)="selectProject(project.id)">
            {{ project.name }}
          </button>
        </div>
      </div>
      <div class="projectImage col-xs-12 col-md-8">
        <div *ngIf="!selectedProject">
          <span *ngFor="let project of projects">
            <a *ngIf="project.imagePaths.length > 0" (click)="selectProject(project.id)">
              <img
                *ngFor="let imagePath of project.imagePaths"
                src="{{ imagePath }}" alt="{{ project.name }}"
              />
            </a>
          </span>
        </div>
        <div *ngIf="selectedProject && selectedProject.imagePaths.length > 0">
          <img
          *ngFor="let imagePath of selectedProject.imagePaths"
          src="{{ imagePath }}"
          alt="{{ selectedProject.name }}" />
        </div>
      </div>
    </div>
    <div *ngIf="selectedProject" class="row">
      <div class="desc col-xs-12 col-md-12">
        <p [innerHTML]="selectedProject.desc"></p>
        <div *ngIf="isLoading" style="text-align: center;">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <div *ngIf="!isLoading">
          <button
            class="btn btn-primary"
            (click)="onClick(selectedProject.urlPath)"><i class="fa fa-github"></i> View GitHub Repository</button>
        </div>
      </div>
    </div>
  </div>
</div>
