<div class="container col-md-12 col-xs-12">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{site.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img
        src="{{site.imagePath}}"
        alt="{{site.name}}"
        class="img-responsive"
        style="max-height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p [innerHTML]="site.desc"></p>
    </div>
  </div>
  <div class="row">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!isLoading" class="col-xs-12">
      <button *ngIf="site.urlPaths.length > 1" class="btn btn-primary" (click)="onClick(site.urlPaths[1])">View Website</button>
      <button *ngIf="site.urlPaths.length > 0" class="btn btn-primary" (click)="onClick(site.urlPaths[0])"><i class="fa fa-github"></i> View GitHub Repository</button>
    </div>
  </div>
</div>
