<div class="content">
  <h2>Websites</h2>
  <div class="row">

    <div id="sites" class="menu">
      <div
        class="menu-button"
        *ngFor="let site of sites"
      >
        <div
          class="menu-content"
          (click)="toggleSite(site.id)"
          onClick="showBlocks()"
        >
          <div class="left-side">
            <p class="title">{{ site.name }}</p>
            <div class="logo">
              <img src={{site.imagePaths[1]}} alt={{site.name}} />
            </div>
          </div>
          <div class="right-side">
            <div class="image">
              <img src={{site.imagePaths[0]}} alt={{site.name}}>
            </div>
            <div class="desc">
              <h3>{{ site.name }}</h3>
              <p [innerHTML]="site.desc"></p>
              <div *ngIf="isLoading" class="centered">
                <app-loading-spinner></app-loading-spinner>
              </div>
            </div>
          </div>
        </div>
        <div class="button-container" *ngIf="!isLoading">
          <button *ngIf="site.urlPaths.length > 1" class="btn btn-primary" (click)="onClick(site.urlPaths[1])">View Website</button>
          <button *ngIf="site.urlPaths.length > 0" class="btn btn-primary" (click)="onClick(site.urlPaths[0])"><i class="fa fa-github"></i> View GitHub Repository</button>
        </div>
      </div>
    </div>

    <div *ngIf="!openId">
      <div class="siteImage col-xs-12">
        <div class="slideshow-container">
          <span *ngFor="let site of sites" class="mySlides2">
            <h3>{{ site.name }}</h3>
            <a (click)="toggleSite(site.id)">
              <img
                src="{{ site.imagePaths[0] }}"
                alt="{{ site.name }}"
              />
            </a>
          </span>
        </div>
      </div>
    </div>

  </div><!-- row -->
</div><!-- content -->
