img {
  max-height: 300px;
  display: block;
  margin: auto;
  &.img-thumbnail {
    max-width: 48%;
  }
}

.slideshow-container {
  min-height: 300px;
}

@media screen and (max-width: 768px) {
  .siteImage img.img-thumbnail {
    max-width: 100%;
  }
}
